
label {
  display: flex;
  flex-direction: row;
  line-height: 26px;
  align-items: center;

}

input {
  height: 20px;
  flex: 0 0 200px;

}

.success {
  font-size: 20px;
  font-weight: bold;
  margin: 'auto';
  width: '260px';
  border-radius: 5px;
  margin: 10px;
}

.error {
  font-size: 20px;
  border-radius: 5px;
  margin: 10px;
}
